<%- include('Partials/header') %>
<%- include('Partials/main_nav') %>

<!-- Main content -->
<div class="container text-center mt-5">
    <img src="/Assets (Images)/teamlogo.jpg" alt="Brown Man Inc. Logo" class="img-fluid" style="max-width: 200px;">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
</div>

<%- include('Partials/footer') %>
